:root {
        --Maintext:white;
        --secondtext:#eeeeee;
        --link: black;
        --mainbackground:#15202B;/* #eaeaea */
        --secondbackground:#192734;
        --border-color:#164D56;
        --themeDotBorder:#164D56; /*black*/
        --shadow-colour: #164D56;
}
body *{
    transition: 0.4s;
}
html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,strong{
    color: var(--Maintext);
    font-family: 'Roboto Slab', serif; 
}

p,li,span,label,input,textarea{
    color: var(--secondtext);
    font-family:'Roboto Mono', monospace;
}

a{
    text-decoration:none;
    color: var(--link)
}
ul{
    list-style: none;
}
.s1{
    background-color: var(--mainbackground);
    border-bottom: 1px solid var(--border-color);
    overflow: auto;
}
.s2{   
    background-color: var(--secondbackground);
    border-bottom: 1px solid var(--border-color);
    overflow: auto;
}

h1{font-size: 56px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 16px;}

.main-container{
    width: 76vw;
    margin: 0 auto;
}

.greeting{
    display: grid; 
    min-height: 10rem;
    justify-content: center;
    align-items: center; 
}
#hii-symbol{
    display: none;
}

@media (min-width: 720px) {
    .greeting h1 {
        display: inline-block;
        color: var(--Maintext);
        overflow: hidden; 
        border-right: .15rem solid var(--Maintext); 
        white-space: nowrap; 
        margin: 0 auto; 
        letter-spacing: .15rem;
        animation: 
          typing 3.5s steps(40, end) infinite alternate,
          blink-caret .75s step-end infinite normal;
      }

      #hii-symbol{
        display: inline;
      }
      
    /*typing effect  */
    @keyframes typing {
        from { width: 0; }
        to { width: 100%; }
      }
      
      /*typewriter cursor effect */
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: var(--Maintext); }
      }
    
}

.nav-wrapper{
    border-radius: 8px 8px 0 0;   
    background-color:#e2e2e2;
    border: 1px solid var(--border-color);
    border-bottom-style: none;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
}

.dots-wrapper{
    display: flex;
    padding: 0.8rem;
}
.dots{
    background-color: black;
    height: 1.0rem;
    width: 1.0rem;
    border-radius: 50%;
    border: 1px solid var(--themeDotBorder) ;
    margin: 0.25rem;

    -webkit-box-shadow: -0.0625rem 0.0625rem 0.1875rem -0.0625rem var(--shadow-colout); /* -1px 1px 3px -1px to rem */
    -moz-box-shadow: -0.0625rem 0.0625rem 0.1875rem -0.0625rem var(--shadow-colout);
    box-shadow: -0.0625rem 0.0625rem 0.1875rem 0 var(--shadow-colout);


}
#dot1{background-color: #FC6058;}
#dot2{background-color: yellow;}
#dot3{background-color: green;}

.navigation-link{
    margin-right: 0.7rem;
    list-style: none;
    font-size: 1.1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: start;
}

.navigation-link li{
    display: inline-block;
    margin: 0rem 0.5rem;
}

.intro{
    border-radius: 0px 0px 10px 10px;
    background-color: var(--secondbackground);
    border: 1px solid var(--border-color);
    -webkit-box-shadow: -0.0625rem 0.0625rem 0.1875rem -0.0625rem var(--shadow-colout); /* -1px 1px 3px -1px to rem */
    -moz-box-shadow: -0.0625rem 0.0625rem 0.1875rem -0.0625rem var(--shadow-colout);
    box-shadow: -0.0625rem 0.0625rem 0.1875rem 0 var(--shadow-colout);
    margin-bottom: 5rem;
    
    display: grid;
    flex-wrap: wrap;
    flex-direction: row;
    grid-template-areas: 
    'left-column right-column';
    grid-template-columns: 1fr  1fr;
    justify-content: center;
    align-items: center;
}

@media (max-width:900px){
    .intro{
        margin-bottom: 5rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 0rem;
        align-items: center;
        justify-content: center;
    }
}  


.left-column{
    grid-area: left-column;    
    padding-top: 50px;
    padding-bottom: 50px; 
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}
.right-column{
    grid-area: right-column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal-box{
    border: 1px solid var(--border-color);
    -webkit-box-shadow: 0.625rem 0.625rem 0.3125rem 0px rgba(0, 0, 0, 0.75); /* 10px to rem */
    -moz-box-shadow: 0.625rem 0.625rem 0.3125rem 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0.625rem 0.625rem 0.3125rem 0px rgba(0, 0, 0, 0.75);
    text-align: center;
    margin: 1rem 4rem 2rem 4rem;
    overflow: auto;
    
}
.personal-intro{
    padding: 0.2rem 1.6rem;
}

.music{
    border-radius: 10%;
}

#profile-pic{
    display: block;
    margin:0 auto ;
    height: 15.625rem;
    width: 15.625rem;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--border-color);
    box-shadow: 0.0625rem 0.0625rem 0.125rem 0.125rem var(--shadow-colout);
}

#theme{
    display: flex;
    justify-content: center ;
}
.theme-dot{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    border: 2px solid var(--themeDotBorder);
    margin: 6px;
    -webkit-box-shadow: -1px 1px 3px -1px var(--shadow-colout);
    -moz-box-shadow: -1px 1px 3px -1px var(--shadow-colout);
    box-shadow: -1px 1px 3px 1px var(--shadow-colout);
    cursor: pointer;
    
}

.theme-dot:hover{
    border-width: 5px;
}
#white-mode{
    background-color: white;
}
#blue-mode{
    background-color:#192734;
}
#green-mode{
    background-color:#78866b;
}
#dark-mode{
    background-color:#28282B;
}
#note{
    font-size: 12px;
    font-style: italic;
    text-align: center; 
    padding-top: 6px;
    padding-bottom: 12px;
}

#notes{
    font-size: 11px;
    font-style: italic;
    text-align: right; 
    padding-top: 6px;
    padding-bottom: 12px;
}
/* Intro CSS End */

/* Resume CSS */
.resume-main{
    margin-bottom: 60px;
}
.resume-heading{
    padding-top: 20px;
}
/* Resume CSS End*/

/* Project CSS */
.project-main{
    margin-bottom: 60px;
}
.project-heading{
    padding-top: 20px;
    margin-bottom: 20px;
}
/* Project CSS ENd */

/* Contact CSS */
.contact{
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 40vh 0vw 10vh 1.5vw;
}
.contact-responsive{
    display: none;
}
#contact-image{
    max-width: 48px;
        transition: 0.5s ease-in-out;
}

#contact-image:hover{
    translate: 20px;
}

@media (max-width: 1201px){
    .contact{
        display: none;
    }
    .contact-responsive{
        display: flex;
        flex-direction:row;
        justify-content: start;
        gap: 1.5rem;
        align-items: center;
        padding: 1.5rem 2rem 1.5rem 1rem;
        flex-wrap: wrap;
    }
    #contact-image:hover{
        translate: 0 -15px;
    }
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--secondbackground); 
  }
  ::-webkit-scrollbar-thumb {
    background: var(--border-color); 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #0f1b26; 
  }

  @media screen and (max-width: 1200px) {
    .main-container{
        width: 90%;
    }
}
